block imports
    link(rel='stylesheet', href='/vendor/css/reset.css')
    link(rel='stylesheet', href='/vendor/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/vendor/js/jquery.min.js')
    script(src='/vendor/js/bootstrap.min.js')
    script(src='/vendor/js/angular.min.js')
    script(src='/vendor/js/angular-cookies.js')
    script(src='/ng/app.js')