.info
    input.form-control.name(ng-model="product.name")
    input.form-control.cost.center(ng-model="product.cost")
    input.form-control.price.center(ng-model="product.price")
    input.form-control.description(ng-model="product.description")
.controls
    input.form-control.count.center(ng-model="product.count")
    button.btn.btn-danger(ng-click="remove(product)") Delete