.navbar.navbar-default.navbar-static-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle Navigation
                .icon-bar
                .icon-bar
                .icon-bar
            a.navbar-brand(href='/') MEAN
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                +link('/') Home
                +link('/inventory') Inventory
            ul.nav.navbar-nav.navbar-right
                if !user
                    +link('/login') Login
                    +link('/register') Register
                else
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')= 'Howdy, '+user.email+'!'
                            b.caret
                        ul.dropdown-menu
                            li.dropdown-header Account Actions
                            +link Edit Account Info
                            li.divider
                            +link('/logout') Logout
