extends _template
block content
    .jumbotron
        h1 MEAN Stack Example
        p Hi! This website will show you how to use the MEAN stack to it's fullest potential.
        p Click the button below the register an account and start your tour.
        p: a.btn.btn-primary(href='/register', role='button') Let's do it!