extends _template
block append imports
    link(rel='stylesheet', href='/css/register.css')
    script(src='/ng/services/validator.js')
    script(src='/ng/controllers/register_form.js')

block content
    .row
        .col-md-offset-3.col-md-6
            form.form-horizontal#Register(role='form', name='form', ng-controller='RegisterForm', ng-submit='submit()')
                .form-group(ng-class="{ 'has-success': isValidEmail(), 'has-error': form.email != undefined }")
                    .col-sm-4: label.control-label(for='email') Email
                    .col-sm-8: input.form-control(ng-model='form.email', type='text', placeholder='name@sample.com', required)
                .form-group(ng-class="{ 'has-success': isValidPassword(), 'has-error': form.password != undefined }")
                    .col-sm-4: label.control-label(for='password') Password
                    .col-sm-8: input.form-control(ng-model='form.password', type='password', placeholder='At least 6 characters', required)
                .form-group(ng-class="{ 'has-success': doPasswordsMatch(), 'has-error': form.passwordConfirm != undefined }")
                    .col-sm-4: label.control-label(for='passwordConfirm') Confirm Password
                    .col-sm-8: input.form-control(ng-model='form.passwordConfirm', type='password', placeholder='At least 6 characters', required)
                .col-sm-offset-4.col-sm-8: button.btn.btn-primary(type='submit') Register!