extends ../_template
block content
    .jumbotron
        h1 404 Not Found
        p Whoopsie!! The page you asked for doesn't exist :(
        p: a.btn.btn-primary(href='/', role='button') Take Me Home!